<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body>

  <header>
    <h1><a href="{{ '/' | relative_url }}">Wabi-Sabi Notes</a></h1>
    <p>an online reading journal</p>

    <nav>
      <a href="{{ '/posts.html' | relative_url }}">Posts</a>
       <a href="{{ '/projects.html' | relative_url }}">Projects</a>
      <a href="{{ '/reading.html' | relative_url }}">Reading</a>
      <a href="{{ '/about.html' | relative_url }}">About</a>
    </nav>
  </header>

  <main>
    <h2>{{ page.title }}</h2>
    <p>{{ page.date | date: "%d %B %Y" }}</p>

    {{ content }}
  </main>

</body>
</html>
